In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("M:\Machine Learning Start with CIT\data files\practice_dataset1.csv")
df1

,id,name,age,sex,salary,bmi,children,smoker,region,department,join_date,is_manager
0,1,John,28,M,55000.0,24.5,2.0,Yes,North,Sales,2020-01-15,False
1,2,Jane,34,F,62000.0,22.1,1.0,No,South,Marketing,2019-06-23,True
2,3,Bob,45,M,70000.0,27.8,3.0,Yes,East,IT,2015-09-10,False
3,4,Alice,29,F,58000.0,23.4,0.0,No,West,HR,2021-03-12,False
4,5,Mike,38,M,65000.0,28.2,NaN,Yes,North,Finance,2018-12-01,True
5,6,Linda,31,F,60000.0,21.9,2.0,No,South,IT,2020-07-08,False
6,7,Steve,42,M,72000.0,26.5,1.0,Yes,East,Marketing,2016-11-20,True
7,8,Karen,36,F,NaN,24.9,2.0,No,West,Sales,2017-04-30,False
8,9,Tom,39,M,68000.0,29.1,3.0,Yes,North,Finance,2015-05-14,False
9,10,Susan,33,F,61000.0,23.0,1.0,No,South,HR,2019-08-25,False

In [4]:
df2 = pd.read_csv(r"M:\Machine Learning Start with CIT\data files\practice_dataset1.csv")
df2

,id,name,age,sex,salary,bmi,children,smoker,region,department,join_date,is_manager
0,1,John,28,M,55000.0,24.5,2.0,Yes,North,Sales,2020-01-15,False
1,2,Jane,34,F,62000.0,22.1,1.0,No,South,Marketing,2019-06-23,True
2,3,Bob,45,M,70000.0,27.8,3.0,Yes,East,IT,2015-09-10,False
3,4,Alice,29,F,58000.0,23.4,0.0,No,West,HR,2021-03-12,False
4,5,Mike,38,M,65000.0,28.2,NaN,Yes,North,Finance,2018-12-01,True
5,6,Linda,31,F,60000.0,21.9,2.0,No,South,IT,2020-07-08,False
6,7,Steve,42,M,72000.0,26.5,1.0,Yes,East,Marketing,2016-11-20,True
7,8,Karen,36,F,NaN,24.9,2.0,No,West,Sales,2017-04-30,False
8,9,Tom,39,M,68000.0,29.1,3.0,Yes,North,Finance,2015-05-14,False
9,10,Susan,33,F,61000.0,23.0,1.0,No,South,HR,2019-08-25,False

In [5]:
df3 = pd.read_csv("M:\\Machine Learning Start with CIT\\data files\\practice_dataset1.csv")
df3

,id,name,age,sex,salary,bmi,children,smoker,region,department,join_date,is_manager
0,1,John,28,M,55000.0,24.5,2.0,Yes,North,Sales,2020-01-15,False
1,2,Jane,34,F,62000.0,22.1,1.0,No,South,Marketing,2019-06-23,True
2,3,Bob,45,M,70000.0,27.8,3.0,Yes,East,IT,2015-09-10,False
3,4,Alice,29,F,58000.0,23.4,0.0,No,West,HR,2021-03-12,False
4,5,Mike,38,M,65000.0,28.2,NaN,Yes,North,Finance,2018-12-01,True
5,6,Linda,31,F,60000.0,21.9,2.0,No,South,IT,2020-07-08,False
6,7,Steve,42,M,72000.0,26.5,1.0,Yes,East,Marketing,2016-11-20,True
7,8,Karen,36,F,NaN,24.9,2.0,No,West,Sales,2017-04-30,False
8,9,Tom,39,M,68000.0,29.1,3.0,Yes,North,Finance,2015-05-14,False
9,10,Susan,33,F,61000.0,23.0,1.0,No,South,HR,2019-08-25,False