In [ ]:
'''Part A: Day 1  DataFrame Basics & Attributes
1.	DataFrame এর row এবং column সংখ্যা বের করো।
2.	DataFrame এ মোট element সংখ্যা বের করো।
3.	DataFrame এর dimension সংখ্যা দেখো।
4.	সব column এর নাম বের করো।
5.	Row index কেমন সাজানো আছে দেখো।
6.	Column-wise data type দেখো।
7.	DataFrame summary দেখো।
8.	সব values numpy array আকারে দেখো।
9.	DataFrame transpose করো।
10.	প্রথম 5 row দেখো।
11.	শেষের 5 row দেখো।
12.	Numeric column এর summary statistics দেখো।
13.	Non-null value count বের করো।
14.	Column-wise mean বের করো।
15.	Column-wise median বের করো।
16.	Column-wise sum বের করো।
17.	Column-wise minimum বের করো।
18.	Column-wise maximum বের করো।
19.	“age” column এর unique value বের করো।
20.	“region” column এর frequency count দেখো।
21.	Column-wise unique value সংখ্যা দেখো।
________________________________________
Part B: Day 2 – Selection Functions
22.	“age” column নির্বাচন করো।
23.	“age” এবং “bmi” column একসাথে নির্বাচন করো।
24.	Label ব্যবহার করে নির্দিষ্ট row এবং column এর মান বের করো।
25.	Position ব্যবহার করে নির্দিষ্ট row এবং column এর মান বের করো।
26.	Fast single value selection ব্যবহার করে নির্দিষ্ট row-column এর মান বের করো।
27.	Position-based fast single value selection ব্যবহার করো।
28.	প্রথম 10 row এবং প্রথম 3 column বের করো।
29.	Random 7 row নির্বাচন করো।
30.	“age” > 30 row বের করো।
31.	bmi > 25 এবং smoker = 'yes' row বের করো।
32.	প্রথম 10 row এবং শেষের 5 row দেখো।
________________________________________
Part C: Day 2 – Modification Functions
33.	নতুন column যোগ করো।
34.	Column এর নাম পরিবর্তন করো।
35.	Column drop করো।
36.	নির্দিষ্ট row-column update করো।
37.	নতুন column নির্দিষ্ট অবস্থানে insert করো।
38.	DataFrame copy করো এবং copy তে value replace করো।
39.	Column type change করো।
40.	Column কে index হিসেবে set করো এবং পরে reset করো।
41.	কিছু random row এর value update করো।
________________________________________
Part D: Day 2 – Cleaning Functions
42.	Missing value check করো।
43.	Missing value পূরণ করো।
44.	Missing value যুক্ত row drop করো।
45.	Duplicate row check করো।
46.	Duplicate row drop করো।
47.	Column value replace করো।
48.	Column value clip করো।
49.	Column-wise data type check করো।
________________________________________
Part E: Mixed Day 1 + Day 2 Analysis
50.	DataFrame shape দেখো।
51.	Total element size দেখো।
52.	Numeric column summary statistics দেখো।
53.	Column-wise unique value দেখো।
54.	Column max, min, mean, median বের করো।
55.	Numeric column correlation দেখো।
56.	Row index check করো।
57.	Column-wise dtype check করো।
58.	Numeric column ছাড়া correlation চেষ্টা করো এবং observation note করো।'''

"Part A: Day 1 – DataFrame Basics & Attributes\n1.\tDataFrame এর row এবং column সংখ্যা বের করো।\n2.\tDataFrame এ মোট element সংখ্যা বের করো।\n3.\tDataFrame এর dimension সংখ্যা দেখো।\n4.\tসব column এর নাম বের করো।\n5.\tRow index কেমন সাজানো আছে দেখো।\n6.\tColumn-wise data type দেখো।\n7.\tDataFrame summary দেখো।\n8.\tসব values numpy array আকারে দেখো।\n9.\tDataFrame transpose করো।\n10.\tপ্রথম 5 row দেখো।\n11.\tশেষের 5 row দেখো।\n12.\tNumeric column এর summary statistics দেখো।\n13.\tNon-null value count বের করো।\n14.\tColumn-wise mean বের করো।\n15.\tColumn-wise median বের করো।\n16.\tColumn-wise sum বের করো।\n17.\tColumn-wise minimum বের করো।\n18.\tColumn-wise maximum বের করো।\n19.\t“age” column এর unique value বের করো।\n20.\t“region” column এর frequency count দেখো।\n21.\tColumn-wise unique value সংখ্যা দেখো।\n________________________________________\nPart B: Day 2 – Selection Functions\n22.\t“age” column নির্বাচন করো।\n23.\t“age” এবং “bmi” column একসাথে নির্বাচন করো।\n24.\tLabel ব্যবহার করে নির্দিষ্ট row এবং column এর মান বের করো।\n25.\tPosition ব্যবহার করে নির্দিষ্ট row এবং column এর মান বের করো।\n26.\tFast single value selection ব্যবহার করে নির্দিষ্ট row-column এর মান বের করো।\n27.\tPosition-based fast single value selection ব্যবহার করো।\n28.\tপ্রথম 10 row এবং প্রথম 3 column বের করো।\n29.\tRandom 7 row নির্বাচন করো।\n30.\t“age” > 30 row বের করো।\n31.\tbmi > 25 এবং smoker = 'yes' row বের করো।\n32.\tপ্রথম 10 row এবং শেষের 5 row দেখো।\n________________________________________\nPart C: Day 2 – Modification Functions\n33.\tনতুন column যোগ করো।\n34.\tColumn এর নাম পরিবর্তন করো।\n35.\tColumn drop করো।\n36.\tনির্দিষ্ট row-column update করো।\n37.\tনতুন column নির্দিষ্ট অবস্থানে insert করো।\n38.\tDataFrame copy করো এবং copy তে value replace করো।\n39.\tColumn type change করো।\n40.\tColumn কে index হিসেবে set করো এবং পরে reset করো।\n41.\tকিছু random row এর value update করো।\n________________________________________\nPart D: Day 2 – Cleaning Functions\n42.\tMissing value check করো।\n43.\tMissing value পূরণ করো।\n44.\tMissing value যুক্ত row drop করো।\n45.\tDuplicate row check করো।\n46.\tDuplicate row drop করো।\n47.\tColumn value replace করো।\n48.\tColumn value clip করো।\n49.\tColumn-wise data type check করো।\n________________________________________\nPart E: Mixed Day 1 + Day 2 Analysis\n50.\tDataFrame shape দেখো।\n51.\tTotal element size দেখো।\n52.\tNumeric column summary statistics দেখো।\n53.\tColumn-wise unique value দেখো।\n54.\tColumn max, min, mean, median বের করো।\n55.\tNumeric column correlation দেখো।\n56.\tRow index check করো।\n57.\tColumn-wise dtype check করো।\n58.\tNumeric column ছাড়া correlation চেষ্টা করো এবং observation note করো।"

In [1]:
import pandas as pd

In [3]:
main_dataset = pd.read_csv("practice_dataset2.csv")
print(main_dataset)

    order_id     customer_name product_category  product_price  quantity  \
0       1001          John Doe      Electronics         299.99         1
1       1002        Jane Smith         Clothing          49.99         2
2       1003       Bob Johnson   Home & Kitchen          89.50         1
3       1004    Alice Williams            Books          19.99         3
4       1005     Michael Brown      Electronics         499.99         1
5       1006       Linda Davis             Toys          29.99         2
6       1007      James Wilson         Clothing          59.99         1
7       1008    Patricia Moore   Home & Kitchen          79.99         1
8       1009     Robert Taylor            Books          14.99         5
9       1010  Barbara Anderson      Electronics         199.99         1
10      1011         Kevin Lee             Toys          39.99         2
11      1012       Emily Clark         Clothing          69.99         1
12      1013      David Harris   Home & Kitchen          59.99         2
13      1014       Susan Lewis            Books          24.99         4
14      1015        Mark Young      Electronics         349.99         1
15      1016        Laura King             Toys          49.99         3
16      1017      Daniel Scott         Clothing          79.99         2
17      1018        Karen Hill   Home & Kitchen          99.99         1
18      1019        Paul Allen            Books          29.99         2
19      1020    Jessica Wright      Electronics         399.99         1

    order_date delivery_status
0   2023-05-10       Delivered
1   2023-05-12         Shipped
2   2023-05-13         Pending
3   2023-05-14       Delivered
4   2023-05-15       Cancelled
5   2023-05-16       Delivered
6   2023-05-17         Shipped
7   2023-05-18       Delivered
8   2023-05-19         Pending
9   2023-05-20       Delivered
10  2023-05-21         Shipped
11  2023-05-22       Delivered
12  2023-05-23         Pending
13  2023-05-24       Delivered
14  2023-05-25         Shipped
15  2023-05-26       Delivered
16  2023-05-27         Pending
17  2023-05-28       Delivered
18  2023-05-29         Shipped
19  2023-05-30       Delivered

In [5]:
#1.	DataFrame এর row এবং column সংখ্যা বের করো।
main_dataset.shape

(20, 7)

In [6]:
#2.	DataFrame এ মোট element সংখ্যা বের করো।
main_dataset.size

140

In [7]:
#3.	DataFrame এর dimension সংখ্যা দেখো।
main_dataset.ndim

2

In [10]:
#4.	সব column এর নাম বের করো।
print(list(main_dataset.columns))

['order_id', 'customer_name', 'product_category', 'product_price', 'quantity', 'order_date', 'delivery_status']

In [11]:
#5.	Row index কেমন সাজানো আছে দেখো।
main_dataset.index

RangeIndex(start=0, stop=20, step=1)

In [12]:
#6.	Column-wise data type দেখো।
main_dataset.dtypes

order_id              int64
customer_name        object
product_category     object
product_price       float64
quantity              int64
order_date           object
delivery_status      object
dtype: object

In [13]:
#7.	DataFrame summary দেখো।
main_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          20 non-null     int64
 1   customer_name     20 non-null     object
 2   product_category  20 non-null     object
 3   product_price     20 non-null     float64
 4   quantity          20 non-null     int64
 5   order_date        20 non-null     object
 6   delivery_status   20 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.2+ KB

In [14]:
#8.	সব values numpy array আকারে দেখো।
main_dataset.values

array([[1001, 'John Doe', 'Electronics', 299.99, 1, '2023-05-10',
        'Delivered'],
       [1002, 'Jane Smith', 'Clothing', 49.99, 2, '2023-05-12',
        'Shipped'],
       [1003, 'Bob Johnson', 'Home & Kitchen', 89.5, 1, '2023-05-13',
        'Pending'],
       [1004, 'Alice Williams', 'Books', 19.99, 3, '2023-05-14',
        'Delivered'],
       [1005, 'Michael Brown', 'Electronics', 499.99, 1, '2023-05-15',
        'Cancelled'],
       [1006, 'Linda Davis', 'Toys', 29.99, 2, '2023-05-16', 'Delivered'],
       [1007, 'James Wilson', 'Clothing', 59.99, 1, '2023-05-17',
        'Shipped'],
       [1008, 'Patricia Moore', 'Home & Kitchen', 79.99, 1, '2023-05-18',
        'Delivered'],
       [1009, 'Robert Taylor', 'Books', 14.99, 5, '2023-05-19',
        'Pending'],
       [1010, 'Barbara Anderson', 'Electronics', 199.99, 1, '2023-05-20',
        'Delivered'],
       [1011, 'Kevin Lee', 'Toys', 39.99, 2, '2023-05-21', 'Shipped'],
       [1012, 'Emily Clark', 'Clothing', 69.99, 1, '2023-05-22',
        'Delivered'],
       [1013, 'David Harris', 'Home & Kitchen', 59.99, 2, '2023-05-23',
        'Pending'],
       [1014, 'Susan Lewis', 'Books', 24.99, 4, '2023-05-24',
        'Delivered'],
       [1015, 'Mark Young', 'Electronics', 349.99, 1, '2023-05-25',
        'Shipped'],
       [1016, 'Laura King', 'Toys', 49.99, 3, '2023-05-26', 'Delivered'],
       [1017, 'Daniel Scott', 'Clothing', 79.99, 2, '2023-05-27',
        'Pending'],
       [1018, 'Karen Hill', 'Home & Kitchen', 99.99, 1, '2023-05-28',
        'Delivered'],
       [1019, 'Paul Allen', 'Books', 29.99, 2, '2023-05-29', 'Shipped'],
       [1020, 'Jessica Wright', 'Electronics', 399.99, 1, '2023-05-30',
        'Delivered']], dtype=object)

In [15]:
#8.	সব values numpy array আকারে দেখো।
main_dataset.to_numpy

<bound method DataFrame.to_numpy of     order_id     customer_name product_category  product_price  quantity  \
0       1001          John Doe      Electronics         299.99         1
1       1002        Jane Smith         Clothing          49.99         2
2       1003       Bob Johnson   Home & Kitchen          89.50         1
3       1004    Alice Williams            Books          19.99         3
4       1005     Michael Brown      Electronics         499.99         1
5       1006       Linda Davis             Toys          29.99         2
6       1007      James Wilson         Clothing          59.99         1
7       1008    Patricia Moore   Home & Kitchen          79.99         1
8       1009     Robert Taylor            Books          14.99         5
9       1010  Barbara Anderson      Electronics         199.99         1
10      1011         Kevin Lee             Toys          39.99         2
11      1012       Emily Clark         Clothing          69.99         1
12      1013      David Harris   Home & Kitchen          59.99         2
13      1014       Susan Lewis            Books          24.99         4
14      1015        Mark Young      Electronics         349.99         1
15      1016        Laura King             Toys          49.99         3
16      1017      Daniel Scott         Clothing          79.99         2
17      1018        Karen Hill   Home & Kitchen          99.99         1
18      1019        Paul Allen            Books          29.99         2
19      1020    Jessica Wright      Electronics         399.99         1

    order_date delivery_status
0   2023-05-10       Delivered
1   2023-05-12         Shipped
2   2023-05-13         Pending
3   2023-05-14       Delivered
4   2023-05-15       Cancelled
5   2023-05-16       Delivered
6   2023-05-17         Shipped
7   2023-05-18       Delivered
8   2023-05-19         Pending
9   2023-05-20       Delivered
10  2023-05-21         Shipped
11  2023-05-22       Delivered
12  2023-05-23         Pending
13  2023-05-24       Delivered
14  2023-05-25         Shipped
15  2023-05-26       Delivered
16  2023-05-27         Pending
17  2023-05-28       Delivered
18  2023-05-29         Shipped
19  2023-05-30       Delivered  >