In [4]:
import pandas as pd
a = [3,5,7]
df = pd.Series(a)
df

0    3
1    5
2    7
dtype: int64

In [5]:
df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 3 entries, 0 to 2
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0 bytes

In [6]:
a = (3,5,7)
df = pd.Series(a)
df

0    3
1    5
2    7
dtype: int64

In [ ]:
dic = {
    'Name':['Maruf', 'Jidni'],
    'Roll': [884598, 884588]
    }
df = pd.Series(dic)
df

Name      [Maruf, Jidni]
Roll    [884598, 884588]
dtype: object

In [13]:
df.info()

<class 'pandas.core.series.Series'>
Index: 2 entries, Name to Roll
Series name: None
Non-Null Count  Dtype
--------------  -----
2 non-null      object
dtypes: object(1)
memory usage: 140.0+ bytes

In [18]:
dic = {
    'Name' : ['Maruf', 'Rajin', 'Jidni'],
    'Roll' : [23, 56, 21],
    'dep' : ['cst', 'auto', 'cst']
}
df = pd.Series(dic, index=['Name', 'Roll', 'dep'])
df

Name    [Maruf, Rajin, Jidni]
Roll             [23, 56, 21]
dep          [cst, auto, cst]
dtype: object

In [19]:
df.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, Name to dep
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 156.0+ bytes

In [20]:
import pandas as pd
a = [3,5,7]
df = pd.DataFrame(a)
df

   0
0  3
1  5
2  7